body {
	font-family: "HelveticaNeue-UltraLight";
}

a {
	color: #D87575;
}

a:hover {
	color: #57BE85;
	text-decoration: none;
}

#headshot {
	border-radius: 100px;
	width: 150px;
	max-height: 100%;
	margin: 20px;
	display: inline-block;
}

#name {
	display: inline-block;
	margin-left: 60px;
	color: #7BCED7;
	font-size: 70px;
}

#left-sidebar {
	display: inline-block;
	float: left;
	width: 150px;
	font-size: 30px;
}

#left-sidebar ul {
	list-style-type: none;
	margin: 50px 0px 0px 50px;
}

#left-sidebar ul li {
	margin-bottom: 35px;
}

#left-sidebar a {
	color: #57BE85;
}

#left-sidebar a:hover {
	color: #D87575;
}

#bio {
	margin-left: 107px;
	line-height: 1;
	display: inline-block;
	width: 745px;
}

#bio .sect {
	font-size: 38px;
	letter-spacing: 1.5px;
	margin-bottom: 50px;
}

#helvetica {
	font-family: "helvetica";
	letter-spacing: normal;
}

#quote {
	margin-top: 100px;
	letter-spacing: 1px;
	color: #57BE85;
}


#young-sara {
	border-radius: 5px;
	margin: 20px 0px 0px 20px;
}

#hp {
	cursor: pointer;
}

#harry {
	visibility: hidden;
	margin-top: -1080px;
	width: 700px;
}

#harry-pic {
	border-radius: 10px;
	margin-left: 240px;
}

.caption {
	margin-left: 20px;
	font-size: 20px;
	width: 300px;
}

.caption a {
	text-decoration: none;
}